html{
    font-size: 25px;
    background-color: wheat;
}
h1{
    text-align: center;
}
ul{
    list-style: none;
}
.recipes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    margin: 0 auto;
    grid-gap: 50px;
    margin-bottom: auto;
    max-width: 1250px;
}
img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.recipe-box{
    background: whitesmoke;
    border-radius: 2px;
}
li{
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.rec-select:hover{
    box-shadow: 0px 0px 30px 10px rgb(3, 157, 196);
    transform: translateY(8px);

}
a{
    color:black;
    text-decoration: none;
    font-family: Verdana, sans-serif;
}